body {
  background-color: #fdfdfd;
}

.header,
.footer {
  background-color: #ffa500;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 40px;
  color: #333333;
}

.main {
  padding: 20px;
}

.info,
.gellery {
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
}

.images img {
  width: 150px;
  border-radius: 8px;
  margin-right: 50px;
}

.images {
  text-align: center;
}

.themaButton {
  text-align: center;
}

a {
  text-decoration: none;
  background-color: #333;
  color: #f5f5f5;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s;
}

a:hover {
  background-color: #f5f5f5;
  color: #333;
}

ul {
  list-style: none;
} /*list-style-type:none;과 똑같음(길다고 여겨져 줄임)*/

ul li {
  padding: 10px 20px;
  transition: background-color 0.3s;
  color: black;
  border-radius: 10px;
}
